@model AplicationACF.ViewModels.ImageViewModel

@{
    ViewData["Title"] = "Image Gallery";
}

<h2>Image Gallery</h2>

<div>
    @using (Html.BeginForm("Index", "Image", FormMethod.Get))
    {
        <label for="pageSize">Items Per Page:</label>
        @Html.TextBoxFor(model => model.PageSize, new { @class = "form-control", type = "number", min = 1, max = 100 })
        <button type="submit" class="btn btn-primary">Change</button>
    }
</div>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Thumbnail</th>
            <th>Full Image</th>
        </tr>
        <tbody>
            @if (Model.PhotoItems != null && Model.PhotoItems.Any())
            {
                foreach (var photo in Model.PhotoItems)
                {
                    <tr>
                        <td>@photo.id</td>
                        <td>@photo.title</td>
                        <td><img src="@photo.thumbnailUrl"></td>
                        <td><a href="@photo.url"><img src="@photo.thumbnailUrl" alt="@photo.title" /></a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No data available.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
            <a href="@Url.Action("Index", "Image", new { page = i, pageSize = Model.PageSize })">@i</a>
    }
</div>

